Source: lights-on
Section: misc
Priority: optional
Maintainer: Gökhan Gökkaya <wirelessaten@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: lights-on
Architecture: all
Depends: gir1.2-appindicator3-0.1
Description: Disable power management on full screen media
 for Xfce and Mate Desktop.
